<html>
	<head>
			<title>Sign Up</title>
		</head>
	<body style="text-align:center">
		<h1>Registration page</h1>
		<form method="POST">
			{% csrf_token %}
			<label><b>Username:</b></label>
			<input type="text" name="username" placeholder="Username"><br><br>
			<label><b>Email:</b></label>
			<input type="email" name="email" placeholder="Email"><br><br>
			<label><b>Password:</b></label>
			<input type="password" name="password" placeholder="******"><br><br>
			<input type="submit" value="Register!">
		</form>
	</body>
	</html>
	